secret.py
*.pyc
.idea
data/shelve.db
Code_Along_KMeans-checkpoint.ipynb
Code_Along_Clustering-checkpoint.ipynb
3fd1bd77-7546-4ace-b9a7-01950382ef1d-spirals2.csv
cdfd44c6-4526-4cf3-9ced-d77e4420f031-spiral3.csv
