body {
	font-size: 10px;
	background-color: #eee;
	font-family: "Proxima Nova" sans-serif;
}

/* fonts and headings */

h1 {
	font-family: "factoria";
	font-weight: 400;
	font-size: 3em;
}

h1 #title {
	font-weight: 900;
	margin-bottom: 1em;
}

h1 #arrow {
	position: relative;
	top:.1em;
}

p {
	font-size: 1.2em;
	font-weight: 300;
}

/* layout */


.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -5em;
	position: relative;
}

.page-wrap:after {
  content: "";
  display: block;
}

.content {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 20px 0 20px;
	height: 100%;
}

.content#application-frame {
	position: relative;
}

.application {
	margin-bottom: 2em;
	position: relative;
}

.header {
	padding: 2em 0 2em 0;
}

.plotting-area {
	padding: 2.5em;
	box-sizing: border-box;
	overflow: hidden;
	background: #fff;
	height: 500px;
	border-top-left-radius: 5px;
	position: relative;
	border-bottom-left-radius: 5px;
}

.application-controls {
	width: 200px;
	float: right;
	background: #333;
	box-sizing: border-box;
	padding: 2em;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

}

.plot-label, .slider-label {
	position: absolute;
/* 	top: 50%; */
/* 	transform: translateY(-50%); */
}

.slider-label {
	transform: rotate(-90deg);
	left: 1em;
	top:40%;
	color: #fff;
	font-size: 1.2em;
	color: #999;
}

#plot-y-label {
	transform: rotate(-90deg);
	left: -1em;
	top:45%;
/* 	transform: translateY(-50%); */
	
}

#plot-x-label {
	left:48%;
	bottom:1em;
}

.application-controls select {
	width: 100%;
	margin-bottom: 1em;
}

.application-controls #two-column-selector select {
	width: 48%;
	float:left;
}

.application-controls #two-column-selector select:nth-child(1) {
	margin-right: 4%;
}

.selector-wrapper {
	white-space: nowrap; 
}

.selector-wrapper select {
	width: 90%;
	display: inline-block;
}

.selector-wrapper .info-wrapper {
	overflow: hidden;
	text-align: center;
	display: inline-block;
	color: white;
	margin-left: .25em;
	font-size: 1.5em;
	opacity: 0.75;
}

#dimmer {
	width: 100%;
	display: none;
	height: 100%;
	position: absolute;
	z-index: 100;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.4);
}


.info-text-wrapper {
	position: absolute;
	display: none;
	top:0;
	left:0;
	z-index: 1001;
	width: 100%;
	margin: 0 auto;
	color: black;
	top:45%;
	transform: translateY(-50%);
}

.info {
	width: 80%;
	position: relative;
	margin: 0 auto;
	background:white;
	padding: 5em;
	border-radius: 5px;
}

.info i {
	position: absolute;
	top:1em;
	font-size: 1.5em;
	right: 1em;
}

.info h1 {
	margin-bottom: .25em;
}

.info p {
	margin-bottom: 1em;
	font-size: 1.4em;
	line-height: 1.5;
}

.info-button {
	cursor: pointer;
}

#canvas {
	width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#slider-container {
	margin: 0 auto;
	width: 100%;
	height: 75%;
	margin-top: 3em;
	position:relative;
}

#slider-handle-vert {
	height: 95%;
	margin: 0 auto;
}

#slider-handle-horiz {
	display: none;
}

@media (max-width: 768px) {
	
	.application {
		display: flex;
		flex-direction: column-reverse;
	}
	
	.application-controls {
		width:100%;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
			display: flex;
		
	}
	
	.plotting-area {
		height: 400px;
		border-bottom-right-radius: 0px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	
	#slider-container {
		display: block;
		margin-top: 0;
		width: 100%;
		padding: 2em;
	}
	
	#slider-handle-vert{
		display: none;
	}

	#slider-handle-horiz {
		display: block;
	}
	
	#selectors {
		width: 20em;
		margin-right: 1.5em;
	}

	.slider-label {
		transform: rotate(0deg);
		left: 40%;
		top:-.3em;
		font-size: 1.2em;
	}


}

.site-footer, .page-wrap:after {
	margin: 0;
	padding: 0;
	height: 5em; 
}

.site-footer {
  background: #333;
  color: #ccc;
  text-align: center;
}

.site-footer p {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* other */

	

	/* plot */
	
		.main_plot .axis path, .main_plot .axis line, .main_plot .tick {
			stroke: #ccc;
		}
		
		.main_plot text {
			font-family: "acumin-pro";
		}
		
		.main_plot .tick text {
			stroke: none;
		}
	
		.main_plot .axis path, .main_plot .axis line {
		  fill: none;
		  stroke: #ccc;
		  shape-rendering: auto;
		}
		
		.main_plot .dot {
		}
		
		.tooltip {
		  position: absolute;
		  width: 200px;
		  height: 28px;
		  pointer-events: none;
		}

	/* blinking cursor */
		
		.blinking-cursor {
		  font-weight: 500;
		  font-size: .9em;
		  position: relative;
		  bottom:.21em;
		  opacity: 0.15;
		  margin-left: .2em;
		  animation: 1s blink step-end infinite;
		}
		
		@keyframes "blink" {
		  from, to {
		    color: transparent;
		  }
		  50% {
		    color: black;
		  }
		}
		
		

