<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" href="/static/nouislider.css">
	<link rel="stylesheet" href="/static/nouislider.pips.css">
	<link rel="stylesheet" href="/static/nouislider.tooltips.css">
 	<link rel="stylesheet" href="/static/reset.css">
	<link rel="stylesheet" href="/static/styles.css">
	<link rel="stylesheet" href="/static/font-awesome.min.css">
	<script src="https://use.typekit.net/jyr7jtt.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>

<body>
  {% block content %}
  {% endblock %}
</body>

</html>
