{% extends "base.html" %}

{% block content %}

<div class="page-wrap">
	<div class="content" id="application-frame">
		<div class="header">
			<h1><span id="arrow">></span> welcome to <span id="title">clustr.fk</span><span class="blinking-cursor">|</span></h1>
		</div>
		<div class="application clearfix">
			<div class= "info-text-wrapper" id="file-upload-info">
				<div class="info">
					<i class="fa fa-close"></i>
					<h1>Upload new data</h1>
						<p>Use this tool to upload new data to clustr.fk. The data must be a csv file. First line must be variable names.</p>
						<form id="submit-file">
							<div>
								<input type="file" id="file1"  accept=".csv">
							</div>
							<div>
								<input type="submit" value="Submit">
							</div>
						</form>
				</div>
			</div>
			<div class= "info-text-wrapper" id="clustering-info-wrapper">
				<div class="info">
					<i class="fa fa-close"></i>
					<h1>K-Means Clustering</h1>
<p>K-Means Clustering is a clustering technique which assigns observations to clusters based on distance from the cluster center. Observations are assigned to the cluster whose center is the shortest distance from the observation. Clusters are chosen which minimize the distance from each observation to it's cluster's center</p>
<p>Algorithm: Start with k random points, treat these as the cluster centers. Assign each observation a cluster. Recompute cluster centers and reassign observations. Repeat until total distance from centers stops changing and record results. Repeat whole process N times, and select result with lowest sum of distances from centres.</p>
<h2>Model Parameters</h2>
<ul>
	<li>Distance Measure: Euclidean</li>
	<li>Center: Mean</li>
	<li>Number of Clusters: <span class="no-of-clusters"></span></li>
	<li>Algorithm Parameters</li>
	<li>Number of Iterations(N): 300</li>
</ul>
				</div>
			</div>
			<div id="dimmer">

			</div>
			<div class="application-controls">
				<div id="selectors">
					<div class="selector-wrapper clearfix">
						<select id="dataset-selector" >
							<option>NBA Data</option>
							<option>Cereal Data</option>
							<option>House Price Data</option>
						</select>
						<div class="info-wrapper">
							<i class="fa fa-plus-circle info-button" show_div="#file-upload-info" id=""></i>
						</div>
					</div>
					<div class="selector-wrapper clearfix">
						<select id="method-selector">
							{% for method in methods %}
								<option value="{{method.value}}">{{method.name}}</option>
							{% endfor %}
						</select>
						<div class="info-wrapper">
							<i show_div="#clustering-info-wrapper" class="fa fa-info-circle info-button"></i>
						</div>
					</div>
					<div id="two-column-selector" class="clearfix">
						<select id="var1-selector" >
						</select>
						<select id="var2-selector" >
						</select>
					</div>
				</div>
				<div id="slider-container">
					<div id="slider-handle-vert"></div>
					<div id="slider-handle-horiz"></div>
					<p id="slider-label" class="slider-label">Total Clusters</p>
				</div>
			</div>
			<div class="plotting-area">
				<div id="canvas" height="200"></div>
			</div>

		</div>
	</div>
</div>
<footer class="site-footer">
	<div class="content">
		<p>Copyright &copy; 2015 Alex, Matt &amp; Su. Powered by Python/Flask.</p>
	</div>
</footer>
<script src="/static/moment-with-locales.js" type="text/javascript"></script>
<script src="/static/Chart.min.js"></script>
<script src="/static/nouislider.min.js" type="text/javascript"></script>
<script src="/static/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="/static/more_scripts.js"  type="text/javascript"></script>
<script src="/static/scripts.js"  type="text/javascript"></script>

{% endblock %}
