{% extends "base.html" %}

{% block content %}

<div class="page-wrap">
	<div class="content" id="application-frame">
		<div class="header">
			<h1><span id="arrow">></span> welcome to <span id="title">clustr.fk</span><span class="blinking-cursor">|</span></h1>
		</div>
		<div class="application clearfix">
			<div class= "info-text-wrapper" id="data-info-wrapper">
				<div class="info">
					<i class="fa fa-close"></i>
					<h1>NBA Data</h1>
						<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.</p>
						<p>Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor. Donec sed odio dui. Donec sed odio dui.</p>
				</div>
			</div>
			<div class= "info-text-wrapper" id="file-upload-info">
				<div class="info">
					<i class="fa fa-close"></i>
					<h1>Upload new data</h1>
						<p>Use this tool to upload new data to clustr.fk. The data must be a csv file. First line must be variable names.</p>
						<form id="submit-file">
							<div>
								<input type="file" id="file1"  accept=".csv">
							</div>
							<div>
								<input type="submit" value="Submit">
							</div>
						</form>
				</div>
			</div>
			<div class= "info-text-wrapper" id="clustering-info-wrapper">
				<div class="info">
					<i class="fa fa-close"></i>
					<h1>K-Means Clustering</h1>
						<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor.</p>
						<p>Nulla vitae elit libero, a pharetra augue. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Curabitur blandit tempus porttitor. Donec sed odio dui. Donec sed odio dui.</p>
				</div>
			</div>
			<div id="dimmer">

			</div>
			<div class="application-controls">
				<div id="selectors">
					<div class="selector-wrapper clearfix">
						<select id="dataset-selector" >
							<option>NBA Data</option>
							<option>Cereal Data</option>
							<option>House Price Data</option>
						</select>
						<div class="info-wrapper">
							<i class="fa fa-plus-circle info-button" show_div="#file-upload-info" id=""></i>
						</div>
					</div>
					<div class="selector-wrapper clearfix">
						<select id="method-selector">
							{% for method in methods %}
								<option>{{method}}</option>
							{% endfor %}
						</select>
						<div class="info-wrapper">
							<i show_div="#clustering-info-wrapper" class="fa fa-info-circle info-button"></i>
						</div>
					</div>
					<div id="two-column-selector" class="clearfix">
						<select id="var1-selector" >
						</select>
						<select id="var2-selector" >
						</select>
					</div>
				</div>
				<div id="slider-container">
					<div id="slider-handle-vert"></div>
					<div id="slider-handle-horiz"></div>
					<p id="slider-label" class="slider-label">Total Clusters</p>
				</div>
			</div>
			<div class="plotting-area">
				<div id="canvas" height="200"></div>
			</div>

		</div>
	</div>
</div>
<footer class="site-footer">
	<div class="content">
		<p>Copyright &copy; 2015 Alex, Matt &amp; Su. Powered by Python/Flask.</p>
	</div>
</footer>
<script src="/static/moment-with-locales.js" type="text/javascript"></script>
<script src="/static/Chart.min.js"></script>
<script src="/static/nouislider.min.js" type="text/javascript"></script>
<script src="/static/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="/static/more_scripts.js"  type="text/javascript"></script>
<script src="/static/scripts.js"  type="text/javascript"></script>

{% endblock %}
